main {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  min-height: 50%;
  gap: 1rem;
}

button:active {
  scale: 0.99;
  translate: 0px 2px;
}
