/* Overskrive standard CSS */
button {
  border: none;
}

/* Fargerike Ord */
:root {
  --color-choice-a: rgb(250, 149, 77);
  --color-choice-b: rgb(81, 205, 81);
  --color-choice-c: rgb(112, 112, 246);
}

.bg-color-a {
  background-color: var(--color-choice-a);
}

.bg-color-b {
  background-color: var(--color-choice-b);
}

.bg-color-c {
  background-color: var(--color-choice-c);
}

/* Ord for størrelse */
.text-large {
  font-size: large;
}

.padding-medium {
  padding: 1rem;
}

/* Ord for form */
.rounded {
  border-radius: 12px;
}

.raised {
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2),
    inset 1px 4px 1px rgba(255, 255, 255, 0.1);
}

.sunken {
  box-shadow: inset 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.active\:sunken:active {
  box-shadow: inset 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

/* Ord for layout */
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-small {
  gap: 1rem;
}

/* Ord for effekter */
.hover\:brighten:hover {
  filter: brightness(1.2);
}
