.container {
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  justify-items: center;

  padding: 1rem 1rem 0px 1rem;
}

.column {
  width: 80%;
  display: grid;
  align-items: end;
}

.column-fill {
  border-radius: 10px 10px 0px 0px;
}
